{
  "configs": [
      0, // fee percentage 5% -> 500, 0.1% -> 10
      0, // payout delay time in seconds
      "?????", // Dtravel treasury address
      [
        "?????", // supported token
      ]
  ],
  "dtravel-config-contract": "?????", // DtravelConfig address
  "dtravel-factory-contract": "?????" // DtravelFactory address
}